// Colors
$primary: rgba(255, 255, 255,1 );
$primaryHover: rgba(255, 255, 255, 0.4);
$primaryBg: rgba(255, 255, 255, 0.1);

// Breakpoints
$desktop: 1679px;
$laptop: 1279px;
$tablet: 1023px;
$phone: 767px;
